<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title></title>
	<meta charset="UTF-8">

	

	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">


	<link rel="stylesheet" type="text/css" href="{% static 'util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
			

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<a class="login100-form-btn" href="/gcal">
								Google Calendar 
							</a>
						</div>
					</div>
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<a class="login100-form-btn" href="/upload">
								Task - 2
							</a> 
						</div>
					</div>

				
			</div>
		</div>
	</div>
	

	

	<script src="{% static 'jquery-3.2.1.min.js' %}"></script>

	


	<script src="{% static 'bootstrap.min.js' %}"></script>

	<script src="{% static 'main.js' %}"></script>

</body>
</html>